# Ignore node_modules folder
node_modules/

# Additional rule to ignore node_modules anywhere in the project
**/node_modules/

#ignore packagelock json
package-lock.json

#ignore package.json
package.json

#env variable
.env